@use '../util/' as u;
.footer {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: u.rem(40) u.rem(20);

        @include u.breakpoint(medium) {
            grid-template-columns: repeat(4, auto);
        }
    }

    &__logo {
        grid-column: 1 / 3;

        @include u.breakpoint(medium) {
            grid-column: 1 / 5;
        }
    }

    &__homelink {
    }

    &__logo-image {
        width: u.rem(128);
        padding-block-end: 10px;

        &:hover {
            opacity: 0.9;
        }
    }

    &__copyright {
        font-size: u.rem(18);
        line-height: 1;
        margin-bottom: 0;
        color: var(--text-dark);
    }

    &__column {
    }

    &__column-title {
        font-size: u.rem(22);
        margin-block-end: 14px;
        line-height: 1.1;
    }

    &__links {
    }

    &__item {
    }

    &__link {
        color: var(--text-dark);
        font-size: u.rem(18);
        line-height: 1;
        margin-block-end: 10px;
        display: inline-block;
        &:hover {
            color: var(--text-link-hover);

            .footer__social-path {
                fill: var(--text-link-hover);
            }
        }
    }

    &__social {
        height: u.rem(15);
        width: u.rem(18);
    }

    &__social-path {
        fill: var(--text-dark);
    }
}
