@use '../util/' as u;

.fw-feature {
    @include u.fullwidth;
    background-color: var(--fullwidth-bg);

    &__title {
        line-height: 1.1;
        margin-block-end: 20px;
        margin-block-start: 0;
    }
    &__description {
        max-width: 70ch;
        margin-inline: auto;
        margin-block-end: 40px;
    }

    &__image {
        max-width: u.rem(792);
        margin-inline: auto;
    }
}
